ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}

nav{
    background-color: #25383C;
    text-align: center;    /* 让文字居中 */
}
